Hello I am {{name}} ({{pronoun1}}/{{pronoun2}})
I am a computer engineering student and an amateur astronomer, deeply interested in AI/ML and Algorithms.
I have experience of full stack development and android development.
Connect with me on:



{{date}}
